/** @format */

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding-left: 105px;
  padding-right: 105px;
  justify-content: space-between;
  align-items: center;
  background: #f5f7fa;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
}

.brand {
  height: fit-content;
  display: flex;
  align-items: center;
}

.brand img {
  width: 35px;
  height: 24px;
}

.brand h1 {
  color: #4d4d4d;
  margin-left: 8px;
}

nav ul {
  display: flex;
  gap: 16px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #4d4d4d;
}

.btn-auth {
  display: flex;
  gap: 16px;
  align-items: center;
}

.btn-auth p {
  color: #4caf4f;
}

.btn-auth button {
  background: #4caf4f;
  border-radius: 6px;
  border-style: none;
  width: 91px;
  height: 40px;
  color: white;
}

#main {
  display: flex;
  padding-top: 80px;
  height: 100vh;
  background: #f5f7fa;
  padding-left: 144px;
  padding-right: 144px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#main img {
  width: 391px;
  height: 407px;
  margin: 96px;
}

#main .content-main button {
  border-radius: 4px;
  border-style: none;
  background-color: #4caf4f;
  width: 128px;
  height: 52px;
  color: white;
}

#main .heading-main {
  font-size: 64px !important;
  display: inline;
  font-weight: bold;
  color: #4d4d4d;
}

#main .heading-main span {
  color: #4caf4f;
}

#main p {
  color: #717171;
}

#service {
  height: 100vh;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#service h1 {
  font-size: 42px;
  color: #4d4d4d;
  margin: 0px;
  text-align: center;
}

#service p {
  font-size: 18px;
  color: #717171;
}

#service .logo-client {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 36px 0px;
}

#service .content-service {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0px;
}

#service .membership {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

#service .national {
  width: 300px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

#service .clubs {
  width: 300px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

#service .content-service img {
  width: 65px;
  height: 56px;
}

#service .content-service h2 {
  margin: 8px;
  color: #4d4d4d;
}

#service .content-service p {
  text-align: center;
  color: #717171;
}

#feature {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 24px;
  margin-top: 80px;
}

#feature .content-feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 2;
}

#feature .content-feature div {
  width: 661px;
}

#feature .content-feature h1 {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 0px;
}

#feature .content-feature img {
  width: 441px;
  height: 328px;
}

#feature .content-feature p {
  font-size: 14px;
  color: #717171;
}

#feature .content-feature button {
  width: 151px;
  height: 52px;
  border-radius: 4px;
  border-style: none;
  background-color: #4caf4f;
  color: white;
}

#feature .footer-feature {
  display: flex;
  height: min-content;
  align-items: flex-start;
  flex-grow: 1;
  margin-top: 24px;

  justify-content: space-around;
  background-color: #f5f7fa;
}

#feature .footer-feature h2{
    color: #4d4d4d;
}

#feature .content-footer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px 24px;
}

#feature .content-footer h2{
    margin-bottom: 0px;
}

#feature .content-footer p{
    margin: 0px;
}

#feature .content-footer img {
  width: 48px;
  height: 48px;
}

#feature .member {
  display: flex;
  align-items: center;
}

#feature .member div {
  margin-left: 16px;
}

#feature .clubs {
  display: flex;
  align-items: center;
}

#feature .clubs div {
  margin-left: 16px;
}

#feature .event-booking {
  display: flex;
  align-items: center;
}

#feature .event-booking div {
  margin-left: 16px;
}

#feature .payments {
  display: flex;
  align-items: center;
}

#feature .payments div {
  margin-left: 16px;
}

#product{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 80px;
}

#product .content-product{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#product .content-product img{
  width: 441px;
  height: 328px;
}

#product .content-product div{
  width: 661px;
}

#product .content-product h1{
  font-size: 36px;
  color: #4d4d4d;
  margin: 0px;
}

#product .content-product p{
  font-size: 14px;
  color: #717171;
}

#product .content-product button{
  width: 151px;
  height: 52px;
  border-radius: 4px;
  border-style: none;
  color: white;
  background-color: #4caf4f;
}

#product .footer-product{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 12px;
  background-color: #F5F7FA;
}

#product .footer-product img{
  width: 280px;
  height: 280px;
}

#product .content-footer{
  width: 748px;
}

#product .content-footer img{
  width: 48px;
  height: 48px;
}

#product .content-footer p{
  font-size: 16px;
  color: #717171;
  margin-bottom: 0;
  text-align: justify;
}

#product .content-footer h4{
  font-size: 20px;
  font-weight: 600;
  color: #4caf4f;
  margin-bottom: 0;
}

#product .content-footer div{
  display: flex;
  gap: 16px;
  align-content: center;
  justify-content: space-between;
  margin-top: 3px;
}

#product .content-footer span{
  display: flex;
}

#testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 80px;
}

#testimonial .content-testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testimonial .content-testimonial h2{
  color: #717171;
  font-size: 36px;
  margin-bottom: 0;
}

#testimonial .content-testimonial img{
  width: 368px;
  height: 286px;
}

#testimonial .content-testimonial p{
  width: 628px;
  color: #717171;
  font-size: 16px;
}

#testimonial .card-section-coment{
  display: flex;
  gap: 36px;
  position: relative;
  top: -50px;
}

#testimonial .section{
    width: 317px;
    height: 176px;
    background-color: #F5F7FA;
    border-radius: 8px;
    border-style: none;
    height: min-content;
    box-shadow: 5px 5px rgba(167, 167, 167,0.2);
}

#testimonial .section p{
    text-align: center;
}

#testimonial .section .btn-readmore{
  display: flex;
  justify-content: center;
}

#testimonial .section .btn-readmore p{
  font-size: 20px;
  color: #4caf4f;
}